<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ quản lý bán hàng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>Quản lý bán hàng</h1>
    <a href="/items" class="top-btn">Quản lý mặt hàng</a>
    <a href="/orders" class="top-btn">Tạo đơn hàng mới</a>
    <a href="/bills" class="top-btn">Xem danh sách bill</a>
    <a href="/stats" class="top-btn">Thống kê</a>
</div>
</body>
</html>